In [2]:
# Loop statement >> IT allow you to execute a block of code repeatedly
# Loops >> while loop and for loops

In [3]:
# While >> Repeatedly executed a block of code untill a condition is met

In [4]:
# Stntax 
# While Condition:
# Block of code
# >> While is a key word used for a while loop

In [1]:
n=7
i=1
while i<n:
    print(i)
    i=i+1

1
2
3
4
5
6

In [2]:
count = 5
while count > 0:
    print(count)
    count= count-1

5
4
3
2
1

In [3]:
count = 5
while count > 0:
    print(count)
    count= count-1
else:
    print("This will be executed when the while is run successfully without any break")

5
4
3
2
1
This will be executed when the while is run successfully without any break

In [5]:
# Break terminate/exits the loop
# The condition is met it will break loop
n=7
i=1
while i<n:
    print(i)
    i=i+1
    if i==3:
        break
else:
    print("This will be executed when the while is run successfully without any break")

1
2

In [8]:
# Continue >> skip the iteration
n=7
i=1
while i<n:
    i=i+1
    if i==3:
        continue
    print(i)    
else:
    print("This will be executed when the while is run successfully without any break")

2
4
5
6
7
This will be executed when the while is run successfully without any break

In [9]:
# for loop >> iterate over a sequence of elements >> , list 
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [10]:
a="pwskills"
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [12]:
l=["Nikhil","LucKy","Divyanshu","Alok"]
for i in l:
    print(i)

Nikhil
LucKy
Divyanshu
Alok

In [13]:
for i in l:
    print (i)
else:
    print("This will be executed when for loop ends without a break statement ")

Nikhil
LucKy
Divyanshu
Alok
This will be executed when for loop ends without a break statement

In [16]:
# Break statement i for loop
for i in l:
    if i=="Divyanshu":
        break
    print(i)
else:
    print("This will be executed when for loop ends without a break statement ")

Nikhil
LucKy

In [17]:
for i in l:
    if i=="Divyanshu":
        continue
    print(i)
else:
    print("This will be executed when for loop ends without a break statement ")

Nikhil
LucKy
Alok
This will be executed when for loop ends without a break statement

In [21]:
list(range (0,10)) # it will give value 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [25]:
# Sytax of range(start , stop , step)
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [27]:
# Problem statement
# print a right triangle with * using while loop
row=1
while row<=4:
    col=1
    while col <= row:
        print("*",end=" ")
        col=col+1
    print()
    row=row+1

*
* *
* * *
* * * *

In [1]:
row=1
while row<=5:
    col=1
    while col<=row:
        print("*",end=" ")
        col=col+1
    print()
    row=row+1

*
* *
* * *
* * * *
* * * * *

In [10]:
# Problem statement
# print a right triangle with * using for loop
for i in range(4):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [11]:
# iternal homework:>> squre of starn
* * *
* * *
* * *

SyntaxError: invalid syntax (1148560763.py, line 2)

In [13]:
# conditional with for loops
number =[1,2,3,4,5,6,7,8,9]
for num in number:
    if (num==3) or (num==7):
        continue
    print(num)

1
2
4
5
6
8
9

In [14]:
# conditional with for loops
number =[1,2,3,4,5,6,7,8,9]
for num in number:
    if (num==3) or (num==7):
        break
    print(num)

1
2

In [15]:
# print the evem number
for i in range(10):
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [16]:
# print the odd number
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [21]:
# Multiplication table 
for i in range (1,6):
    for j in range(1,11):
        product=i*j
        print(f"{i} * {j} = {product} ")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [51]:
# Problem statement
# print a right triangle with * using for loop
for i in range(4):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [55]:
# Problem statement
# print a squre of star * using for loop
for i in range(3):
    print(" ")
    for j in range (3):
        print("*",end=" ")

* * *
* * *
* * *

In [53]:
for i in range(4):
    print(" ")
    for j in range(i+1):
        print(" ",end=" ")
        print("*",end=" ")
    print()

  *

  *   *

  *   *   *

  *   *   *   *

In [3]:
clothes = ["shirt", "sock", "pants", "sock", "towel"]
paired_socks = []
for item in clothes:
    if item == "sock":
        continue
    print(f"Washing {item}")
paired_socks.append("socks")
print(f"Washing {paired_socks}")

Washing shirt
Washing pants
Washing towel
Washing ['socks']

In [4]:
for day in range(1, 8):
    distance = 3 + (day - 1) * 0.5
    print(f"Day {day}: Run {distance:.1f} miles")

Day 1: Run 3.0 miles
Day 2: Run 3.5 miles
Day 3: Run 4.0 miles
Day 4: Run 4.5 miles
Day 5: Run 5.0 miles
Day 6: Run 5.5 miles
Day 7: Run 6.0 miles

In [6]:
x = [1, 2]
y = [4, 5]

for i in x:
    
    for j in y:
	    print(i, j)

1 4
1 5
2 4
2 5

In [8]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
    j = 0
    while j < len(y) :
	    print(x[i] , y[j])
	    j = j + 1
    i = i + 1

1 4
1 5
2 4
2 5

In [1]:
# Initialize list1 and list2
# with some strings
list1 = ['I am ', 'You are ']
list2 = ['healthy', 'fine', 'geek']

# Store length of list2 in list2_size
list2_size = len(list2)

# Running outer for loop to
# iterate through a list1.
for item in list1:

	# Printing outside inner loop
	print("start outer for loop ")
	# Initialize counter i with 0
	i = 0
	# Running inner While loop to
	# iterate through a list2.
	while(i < list2_size):
	
		# Printing inside inner loop
		print(item, list2[i])
		# Incrementing the value of i
		i = i+1
	# Printing outside inner loop
	print("end for loop ")

start outer for loop
I am  healthy
I am  fine
I am  geek
end for loop
start outer for loop
You are  healthy
You are  fine
You are  geek
end for loop

In [2]:
list1=["I am","you are"]
list2=["nikhil","Lucky"]
list2_size=len(list2)
print(list2_size)
for item in list1:
    
    i=0
    while (i < list2_size):
        print(item,list2[i])
        i = i+1
    print("End of loop")

2
I am nikhil
I am Lucky
End of loop
you are nikhil
you are Lucky
End of loop

In [4]:
# Running outer loop from 2 to 3
for i in range(2, 4):

	# Printing inside the outer loop
	# Running inner loop from 1 to 10
	for j in range(1, 11):
	    if i==j:
		    break
	# Printing inside the inner loop
	    print(f"{i} * {j} = {}")
	# Printing inside the outer loop
	print()

2 * 1 = 2

3 * 1 = 3
3 * 2 = 6

In [2]:
l1=[1,2,3,4,5]
for i in l1:
    
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l2=["Nikhil","Divyanshu","Alok","Lucky"]
for i in l2:
    print(i,type(i))

Nikhil <class 'str'>
Divyanshu <class 'str'>
Alok <class 'str'>
Lucky <class 'str'>

In [4]:
l1

[1, 2, 3, 4, 5]

In [5]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only will execute")

1
2
3
4
5
do something

In [6]:
l1

[1, 2, 3, 4, 5]

In [7]:
for i in l1:
    if i==2:
        break
    print(i)

1

In [8]:
l1

[1, 2, 3, 4, 5]

In [9]:
for i in l1:
    if i==2:
        break
    print(i)
else:
    print("if for loop is able to complete itself then only will execute")

1

In [11]:
for i in l1:
    if i==2:
        continue
    print(i)
else:
    
    print("if for loop is able to complete itself then only will execute")

1
3
4
5
if for loop is able to complete itself then only will execute

In [12]:
range(0,5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [15]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [18]:
l3=["Nikhil","Divyanshu","Lucky","Alok"]
l3

['Nikhil', 'Divyanshu', 'Lucky', 'Alok']

In [19]:
l3

['Nikhil', 'Divyanshu', 'Lucky', 'Alok']

In [20]:
len(l3)

4

In [21]:
list(range(len(l3)))

[0, 1, 2, 3]

In [23]:
for i in range (len(l3)):
    print(l3[i])

Nikhil
Divyanshu
Lucky
Alok

In [24]:
for i in l3:
    print(i)

Nikhil
Divyanshu
Lucky
Alok

In [25]:
len(l3)

4

In [29]:
list(range(len(l3),0,-1))

[4, 3, 2, 1]

In [3]:
l3=["Nikhil","Divyanshu","Lucky","Alok"]
l3

['Nikhil', 'Divyanshu', 'Lucky', 'Alok']

In [5]:
for i in range(len(l3)-1,-1,-1):
    print(l3[i])

Alok
Lucky
Divyanshu
Nikhil

In [6]:
l2=[1,2,3,4,5,6,7,8,9,12,34,13,45,67,9999,456,14567]
list(range(len(l2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [12]:
for i in range(0,len(l2),2):
    print(i,(l2[i]))

0 1
2 3
4 5
6 7
8 9
10 34
12 45
14 9999
16 14567

In [13]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 34, 13, 45, 67, 9999, 456, 14567]

In [17]:
sum=0
for i in l2:
    i=i+sum
print(i)

14567

In [19]:
for i in range(0,len(l2),2):
    print(i,(l2[i]))

0 1
2 3
4 5
6 7
8 9
10 34
12 45
14 9999
16 14567

In [16]:
l2=[1,2,34,5,8]
for i in range(len(l2)):
    if i%2!=0:
        print("odd")
    else:
        print("even")
    print(i)
print(i)

even
0
odd
1
even
2
odd
3
even
4
4

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(list)):
    if i%2==0:
        prin

0
1
2
3
4
5
6
7
8
9

In [2]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Use range(len(l2)) to iterate over valid indices of l2
for i in range(len(l2)):
    if i % 2 != 0:  # Check if the index i is odd
        print(f"index {i} = even number= {l2[i]}")  # Print the index i and the corresponding value in l2

index 1 = even number= 2
index 3 = even number= 4
index 5 = even number= 6
index 7 = even number= 8

In [22]:
list=[1,2,3,4,5,6,7,8,9]
len(list)

9

In [4]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Use range(len(l2)) to iterate over valid indices of l2
for i in range(len(l2)):
    if i % 2 == 0:  # Check if the index i is even
        print(f"index {i} = odd number= {l2[i]}")# Print the index i and the corresponding value in l2

index 0 = odd number= 1
index 2 = odd number= 3
index 4 = odd number= 5
index 6 = odd number= 7
index 8 = odd number= 9